/*******************************************
* CSS Variables

* Definition 

* :root {
    --blue: #33C0BE;
}

* Usage 

div {  background: var(--blue); }
*******************************************/


:root {
	--blue: #33C0BE;
	--blue_rgb: 51, 192, 190;
	--dark_blue: #268C8B;
	--dark_blue_rgb: 38, 140, 139;


	--green: #B6D26F;
	--green_rgb: 182, 210, 111;
	--dark_green: #899E54;
	--dark_green_rgb: 137, 158, 84;

	--violet: #A585A6;
	--violet_rgb: 165, 133, 166;
	--dark_violet: #725C73;
	--dark_violet_rgb: 114, 92, 115;

	--beige: #FFCFAB;
	--beige_rgb: 255, 207, 171;
	--dark_beige: #FFB278;
	--dark_beige_rgb: 255, 178, 120;


	--red: #FB8181;
	--red_rgb: 251, 129, 129;
	--dark_red: #C76565;
	--dark_red_rgb: 199, 101, 101;


	--grey_98: #FCFCFC;
	--grey_95: #F2F2F2;
	--grey_90: #E3E4E6;
	--grey_70: #B1B1B1;
	--grey_50: #7E7E80;
	--grey_20: #333333;

	--dark: #231F20;
}


/****************************************
* Typography
****************************************/


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a,
button,
label,
em {
    color: #231F20;
	color: var(--dark);
	font-family: 'montserrat';
}

h1 {
	font-size: 2rem;
	font-weight: 600;
    line-height: 150%;
    color: #33C0BE;
    color: var(--blue);
}

h2 {
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 150%;
}

h3 {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 150%;
}

h4 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 150%;
}

h5 {
	font-size: 0.9rem;
	font-weight: 600;
	line-height: 150%;
}

h6 {
	font-size: 0.8rem;
	font-weight: 800;
	text-transform: uppercase;
}

p,
ul,
li {
	font-size: 1rem;
	font-weight: 300;
	line-height: 150%;
}

label {
	font-size: 0.6rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}


.text_align_center {
    text-align: center;
}

/****************************************
* SVG
****************************************/

svg {
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	stroke-width: 2px;
}

/*******************************************
* Buttons
*******************************************/

.round_btn {
	position: relative;
	width: 3rem;
	height: 3rem;

	max-width: 70px;
	max-height: 70px;

	border-radius: 50%;
}

.dark_btn {
	background: rgba(0, 0, 0, 0.75);
}

.round_btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);

	width: 40%;
	height: 40%;

	filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.15));
}

.round_btn .play_icon {
	transform: translate3d(-47%, -50%, 0);
	fill: #fff;
}


button:focus {
    outline: #33C0BE thin dotted;
    outline: var(--blue) thin dotted;
} 

.rounded_btn {
    display: block;
	width: max-content;
	font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    letter-spacing: 0.05em;
}

.link_btn {
    display: block;
	width: max-content;
	font-size: 0.7rem;
    font-weight: 600;
    
    text-transform: uppercase;
    
    padding: 0.5rem 1rem;
    letter-spacing: 0.05em;
    margin: 2rem 0;
    background: var(--blue);

    transition: all ease-in-out 200ms;
}

.link_btn:hover {
    transform: translate3d(0, -10%, 0);
}

.link_btn a,
.link_btn a:visited {
    color: #fff;
    text-decoration: none;
}


/*******************************************
* Layout
*******************************************/

html, body {
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#___gatsby,
#___gatsby >div {
    display: contents;
}

* {
    outline: 0;
}

.main_content_flexbox_wrapper {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_content_flexbox_wrapper main {
    /* flex: 1 0 auto; */
    margin-top: 7rem; 
}

.main_content_flexbox_wrapper .main_header,
.main_content_flexbox_wrapper .main_footer {
   /* flex-shrink: 0; */
}

.main_content_wrapper {
	position: relative;
	width: 90%;
	max-width: 1200px;

	padding: 2rem 1rem;
	margin: 0 auto;

    box-sizing: border-box;
    z-index: 1;
}

@media only screen and (max-width: 950px) {
    .main_content_wrapper {
        padding: 2rem 0;
    }
}



::-webkit-scrollbar {
	width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #231F20;
	background: var(--dark);
	border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #231F20;
	background: var(--dark);
}



/****************************************
* Header
****************************************/

.main_header {
    background: #fff;
    /* position: sticky;
    top: 0; */

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0, 0.05);
    transition: all 200ms ease-in-out;
    z-index: 100;
}

.main_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/************************* Logo *************************/

.main_header .virtulleum_logo {
	width: 15%;
	max-width: 300px;
    min-width: 150px;
    
    height: 3rem;

    margin-right: auto;
}

.main_header .virtulleum_logo {
    list-style: none;
}

.main_header .virtulleum_logo .logo_big {
    fill: #231F20;
	fill: var(--dark);
	width: 100%;
	height: 100%;
}

/************************* Header Main Nav *************************/

.header_nav nav {
	width: 70%;
}

.header_nav ul,
.header_nav li,
.lang_nav ul,
.lang_nav li {
	padding: 0;
	margin: 0;
}

.header_nav ul,
.lang_nav ul {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.header_nav li,
.lang_nav li {
	display: inline-block;
	margin-right: 1rem;
	width: max-content;
}

.header_nav li:last-child,
.lang_nav li:last-child {
	margin-right: 0;
}

.header_nav li a,
.lang_nav li a {
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	transition: all 200ms ease-in-out;
}

.header_nav li a:visited,
.lang_nav li a:visited {
	color: inherit;
}

.lang_nav {
    margin-left: 5rem;
}

.header_nav li a:hover,
.header_nav li a[aria-current="page"],
.lang_nav li a:hover {
    color: #33C0BE;
	color: var(--blue);
}

@media only screen and (max-width: 950px) {
    .header_nav,
    .lang_nav {
		display: none;
    }
    
    .main_header .virtulleum_logo {
        margin-right: 0;
    }
}




/************************* Hamburger *************************/

.hamburger {
	position: relative;

	width: 3rem;
	height: 3rem;
	max-width: 70px;
	max-height: 70px;

	pointer-events: all;
	opacity: 1;

	transition: opacity 0.15s linear, filter 0.15s linear;
	background-color: transparent;

	border: 0;
	margin: 0;
	overflow: visible;

	display: none;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
    background: #231F20;
	background: var(--dark);
}

.hamburger-box {
	width: 25px;
	height: 20px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -52%, 0);
	transition: 150ms transform linear;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 100%;
    height: 2px;
    background: #231F20;
	background: var(--dark);
	border-radius: 4px;
	position: absolute;
	transition: transform 0.15s ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -6px;
}

.hamburger-inner::after {
	bottom: -6px;
}


.hamburger.is_invisible {
	opacity: 0;
	pointer-events: none;
}

/*
     * Elastic
     */
.hamburger[data-icon="close_icon"] .hamburger-inner {
	top: 10px;
	transition-duration: 0.275s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger[data-icon="close_icon"] .hamburger-inner::before {
	top: 7px;
	transition: opacity 0.125s 0.275s ease;
}

.hamburger[data-icon="close_icon"] .hamburger-inner::after {
	top: 7px;
	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger[data-icon="close_icon"] .hamburger-inner {
	transform: translate3d(0, 0px, 0) rotate(135deg);
	transition-delay: 0.075s;
}

.hamburger[data-icon="close_icon"] .hamburger-inner::before {
	transition-delay: 0s;
	opacity: 0;
}

.hamburger[data-icon="close_icon"] .hamburger-inner::after {
	transform: translate3d(0, -7px, 0) rotate(-270deg);
	transition-delay: 0.075s;
}



/*
     * Arrow Turn
     */
.hamburger[data-icon="back_icon"] .hamburger-box {
	transform: translate3d(-30%, -50%, 0);
}

.hamburger[data-icon="back_icon"] .hamburger-inner {
	transform: rotate(-180deg);
	background: rgba(0,0,0,0);
}

.hamburger[data-icon="back_icon"] .hamburger-inner::before {
	transform: translate3d(8px, 2px, 0) rotate(40deg) scale(0.7, 1);
}

.hamburger[data-icon="back_icon"] .hamburger-inner::after {
	transform: translate3d(8px, 0px, 0) rotate(-40deg) scale(0.7, 1);
}



@media only screen and (max-width: 950px) {
	.hamburger {
		display: block;
		margin-right: auto;
    }
    
    .hamburger_nav .hamburger {
        margin: 0;
        position: absolute;
        top: 2rem;
        left: 0;

        width: 3rem;
        height: 3rem;
    }

    .hamburger_nav .hamburger-inner,
    .hamburger_nav .hamburger-inner::before,
    .hamburger_nav .hamburger-inner::after {
        background: #fff;
    }
}



/************************* Hamburger Nav *************************/

.hamburger_nav {
    position: fixed;
    background: rgba(0,0,0,0.75);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    opacity: 0;
    pointer-events: none;

    transition: 200ms all ease-in-out 200ms;
}

.hamburger_nav.active {
    opacity: 1;
    pointer-events: all;

    transition-delay: 0ms;
}

.hamburger_nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    height: 100%;
    padding: 8rem 1rem 2rem 1rem;

    background: #33C0BE;
    background: var(--blue);
    overflow-y: scroll;

    transform: translate3d(-100%, 0, 0);
    transition: 200ms all ease-in-out;
}

.hamburger_nav.active ul {
    transform: translate3d(0%, 0, 0);
    transition-delay: 200ms;

}

.hamburger_nav li {
    padding: 0 0 2rem;

    opacity: 0;
    transform: translate3d(0, -20%, 0);
    transition: 400ms all ease-in-out 400ms;
}

.hamburger_nav.active li {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
}
.hamburger_nav.active li:nth-child(1) {
    transition-delay: 200ms;
}
.hamburger_nav.active li:nth-child(2) {
    transition-delay: 250ms;
}
.hamburger_nav.active li:nth-child(3) {
    transition-delay: 300ms;
}
.hamburger_nav.active li:nth-child(4) {
    transition-delay: 350ms;
}
.hamburger_nav.active li:nth-child(5) {
    transition-delay: 400ms;
}
.hamburger_nav.active li:nth-child(6) {
    transition-delay: 450ms;
}
.hamburger_nav.active li:nth-child(7) {
    transition-delay: 500ms;
}
.hamburger_nav.active li:nth-child(8) {
    transition-delay: 550ms;
}
.hamburger_nav.active li:nth-child(9) {
    transition-delay: 600ms;
}

.hamburger_nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-decoration: none;
}


.hamburger_nav .lang_link {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid #fff;
}

.hamburger_nav .lang_link span {
    margin-right: 2rem;
}


/*******************************************
* Welcome Section
*******************************************/


.welcome_section {
	display: flex;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.welcome_article {
	width: 50%;
	margin-right: 5%;
}

.app_download_wrapper {
    display: flex;
	margin: 3rem 0 1rem;
	height: 3rem;
	max-height: 80px;
	width: 100%;
}

.app_download_wrapper a {
	display: inline-block;
	margin-right: 2rem;

	height: 100%;
	width: max-content;
}

.app_download_wrapper a img {
	width: 100%;
	height: 100%;

	max-height: 100%;
	max-width: 140px;
	object-fit: contain;
}



/************************* Tull video section *************************/

.tulln_welcome_video {
	position: relative;
	width: 45%;
}


.tulln_welcome_video img {
	width: 100%;
	object-fit: contain;
}

.tulln_welcome_video .play_welcome_video_btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}



@media only screen and (max-width: 700px) {

    .welcome_section {
        flex-wrap: wrap;
    }

    .welcome_article {
        width: 100%;
        margin-right: 0;
        order: 2;
    }

    .tulln_welcome_video {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 2rem;
    }

}


/*******************************************
* About Virtulleum
*******************************************/


.dust_deco_1,
.dust_deco_2 {
    position: absolute;
    left: -5%;
    bottom: 0%;
    background: url('/images/staub.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 300px;
    transform: translate3d(0, 30%, 0);
    z-index: -1;
}

.dust_deco_2 {
    right: -40%;
    left: auto;

    transform: rotate(-90deg) translate3d(30%, -10%, 0);
}

/*******************************************
* Accordion
*******************************************/

.faq_headline {
    padding: 4rem 1rem;
}

.accordion_wrapper {
    position: relative;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.25);

    padding: 0;
    margin-bottom: 4rem;
}

.accordion_title {
	position: relative;
	display: block;
	width: 100%;
	background: #fff;
	padding: 1rem 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
	border-bottom: 1px solid var(--grey_90);
}

.accordion_title:hover {
	cursor: pointer;
}

.accordion_title h3 {
    text-align: left;
    color: #231F20;
    color: var(--dark);
    width: 80%;
}

.accordion_title svg {
	position: absolute;
	top: 50%;
	right: 2rem;
    fill: none;
    stroke: #231F20;
	stroke: var(--dark);

    transition: 200ms all ease-in-out;
	transform: translate3d(0, -50%, 0) rotate(-90deg);
}

.accordion_title[aria-expanded="true"] svg {
    transform: translate3d(0, -50%, 0) rotate(90deg);
}

.accordion_content {
	padding: 0rem 2rem;
    box-sizing: border-box;
    background: rgba(0,0,0,0.02);
	background: var(--grey_98);
    height: 0;
	/* max-height: 0;
    overflow-y: scroll; */
    overflow: hidden;

	/* transition: all 400ms ease-in-out; */
}

.accordion_title[aria-expanded=true]+.accordion_content {
    /* max-height: 70vh; */
    height: auto;
    padding: 1rem 2rem;

	/* padding: 1rem 2rem; */
}

@media only screen and (max-width: 500px) {

    .accordion_title {
        padding: 1rem 1.5rem;
    }

    .accordion_title[aria-expanded=true]+.accordion_content {
        padding: 1rem 1.5rem;
    }
}


/*******************************************
* Main Objects
*******************************************/

.main_objects_wrapper h2 {
	text-align: center;
	margin: 3rem auto 1.5rem;
}

.main_objects_wrapper p {
	text-align: left;
}


.main_objects_grid {
	margin: 2rem auto;
}


.main_objects_grid div[role="tablist"] {
   text-align: right;
   border-bottom: 0.05rem solid rgba(0,0,0,0.05);
   border-bottom: 0.05rem solid var(--grey_95);
   margin-bottom: 2rem;
}

.main_objects_grid div[role="tablist"] button {
    position: relative;
    width: max-content;
    padding: 0.5rem 2rem;

    color: rgba(0,0,0,0.3);
    color: var(--grey_70);
    font-size: 1rem;
    border-radius: 0;
    overflow: hidden;

    transition: 200ms all ease-in-out;
}

.main_objects_grid div[role="tablist"] button:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 0.15rem;

    background: #33C0BE;
    background: var(--blue);

    transform: translate3d(-100%, 0, 0);

    transition: 200ms all ease-in-out;
    z-index: 20;
}

.main_objects_grid div[role="tablist"] button:first-child:before {
    transform: translate3d(100%, 0, 0);
}

.main_objects_grid div[role="tablist"] button[aria-selected="true"] {
    color: #231F20;
    color: var(--dark);
}
.main_objects_grid div[role="tablist"] button[aria-selected="true"]:before {
    background: #33C0BE;
    background: var(--blue);
    transform: translate3d(0%, 0, 0);
}

/************************* Search Input *************************/

.search_input {
    width: 50%;
    min-width: 50%;
    padding: 1rem 0rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    text-align: left;
    padding-right: 0rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid var(--grey_95);
    color: #000;
    margin-top: -1rem;
}

.search_input::placeholder {
    color: rgba(0,0,0,0.3);
    color: var(--grey_70);
    text-transform: uppercase;
}

.search_input:focus,
.search_input:active {
    outline: 0;
}


@media only screen and (max-width: 500px) {
    
    .search_input {
        width: 100%;
    }
    
}

.tag_wrapper .search_input {
    font-size: 1rem;
}

.tagify__tag {
    font-size: 0.8rem;
}

/************************* Grid Layout *************************/

.main_object_category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}


.main_object_category h4 {
	width: 100%;
}

.main_object_category.cat_1 h4 {
    color: #FB8181;
	color: var(--red);
}

.main_object_category.cat_2 h4 {
    color: #33C0BE;
	color: var(--blue);
}

.main_object_category.cat_3 h4 {
    color: #FFCFAB;
	color: var(--beige);
}

.main_object_category.cat_4 h4 {
    color: #A585A6;
	color: var(--violet);
}

.main_object_category.cat_5 h4 {
    color: #B6D26F;
	color: var(--green);
}


.main_object_category .main_object_btn {
	position: relative;
	width: 15%;
	padding-top: 15%;

	margin-bottom: 4rem;
}


.main_object_category .main_object_btn h5 {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
    height: 1rem;
    transform: translate3d(2rem, 140%, 0);
}

.main_object_category.cat_1 h5 {
    color: #FB8181;
	color: var(--red);
}
.main_object_category.cat_2 h5 {
    color: #33C0BE;
	color: var(--blue);
}
.main_object_category.cat_3 h5 {
    color: #FFCFAB;
	color: var(--beige);
}
.main_object_category.cat_4 h5 {
    color: #A585A6;
	color: var(--violet);
}
.main_object_category.cat_5 h5 {
    color: #B6D26F;
	color: var(--green);
}


.main_object_category .main_object_btn .dice_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 80%;
	height: 80%;

	border-radius: 0.5rem;
	box-sizing: border-box;

	box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.15);

	transition: all 200ms ease-in-out;
	transform: translate3d(-50%, -50%, 0);
}

.main_object_category.cat_1 .dice_wrapper {
    background: #FB8181;
	background: var(--red);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--dark_red_rgb), 0.55);
}

.main_object_category.cat_2 .dice_wrapper {
    background: #33C0BE;
	background: var(--blue);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--dark_blue_rgb), 0.55);
}

.main_object_category.cat_3 .dice_wrapper {
    background: #FFCFAB;
	background: var(--beige);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--dark_beige_rgb), 0.55);
}

.main_object_category.cat_4 .dice_wrapper {
    background: #A585A6;
	background: var(--violet);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--dark_violet_rgb), 0.55);
}

.main_object_category.cat_5 .dice_wrapper {
    background: #B6D26F;
	background: var(--green);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--dark_green_rgb), 0.55);

}


.main_object_category .main_object_btn:before {
	display: block;
	position: absolute;
	content: "";

	top: 58%;
	left: 58%;

	width: 80%;
	height: 80%;

    border: 0.1rem solid rgba(0,0,0,0.05);
	border: 0.1rem solid var(--grey_95);
	transition: all 200ms ease-in-out;

	transform: translate3d(-50%, -50%, 0);
	z-index: -1;
}


.main_object_category .main_object_btn:hover .dice_wrapper {
	transform: translate3d(-40%, -40%, 0);
}

.main_object_category .main_object_btn:hover:before {
	transform: translate3d(-60%, -60%, 0);
}




.main_objects_grid .main_object_btn .dice_wrapper img,
.main_objects_grid .main_object_btn .dice_wrapper .gatsby-image-wrapper  {
	width: 100%;
	height: 100%;
    
}



.main_objects_grid .main_object_btn .arrow_left_icon {
	position: absolute;
	bottom: 5%;
	right: 5%;
	fill: none;
	stroke: #fff;

	filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.15));
	transform: rotate(180deg);
}


@media only screen and (max-width: 1000px) {

    .main_object_category .main_object_btn {
        width: 33%;
        padding-top: 33%;
    }

}

@media only screen and (max-width: 550px) {

    .main_object_category .main_object_btn {
        width: 50%;
        padding-top: 50%;
    }

}

/************************* Leaflet *************************/


.leaflet-container {
    width: 100%;
    height: 60vh;
    max-height: 600px;
}

.my-div-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;

    border: 2px solid #fff;
    border-radius: 0.2rem;
}

.my-div-icon.cat_1 {
    border-color: #FB8181;
    border-color: var(--red);
}
.my-div-icon.cat_2 {
    border-color: #33C0BE;
    border-color: var(--blue);
}
.my-div-icon.cat_3 {
    border-color: #FFCFAB;
    border-color: var(--beige);
}
.my-div-icon.cat_4 {
    border-color: #A585A6;
    border-color: var(--violet);
}
.my-div-icon.cat_5 {
    border-color: #B6D26F;
    border-color: var(--green);
}


/************************* Deco Leaves *************************/

.main_objects_deco_wrapper {
    position: relative;
}

.main_objects_deco_wrapper .main_content_leaf_deco_1,
.main_objects_deco_wrapper .main_content_leaf_deco_2 {
    position: absolute;
    top: 3%;
    left: 0;

    background: url('/images/leaf_2.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 15vw;
    max-width: 150px;
    height: 15vh;
    max-height: 150px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.3));

    transform: translate3d(0, 0, 0) rotate(25deg);
}

.main_objects_deco_wrapper .main_content_leaf_deco_2 {
        transform: translate3d(-20%, 60%, 0) rotate(-95deg) scale(-0.7);
}


.main_objects_deco_wrapper .main_content_leaf_deco_3,
.main_objects_deco_wrapper .main_content_leaf_deco_4 {
    position: absolute;
    top: 80%;
    right: 0;

    background: url('/images/leaf_4.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 20vw;
    max-width: 100px;
    height: 20vh;
    max-height: 120px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.3));

    transform: translate3d(10%, 0, 0) rotate(120deg) scaleY(-1);
}

.main_objects_deco_wrapper .main_content_leaf_deco_4 {
   transform: translate3d(30%, 70%, 0) rotate(30deg) scale(-0.6);
}


@media only screen and (max-width: 800px) {

    .main_objects_deco_wrapper .main_content_leaf_deco_1,
    .main_objects_deco_wrapper .main_content_leaf_deco_2,
    .main_objects_deco_wrapper .main_content_leaf_deco_3,
    .main_objects_deco_wrapper .main_content_leaf_deco_4 {
        display: none;
    }

}

.main_objects_deco_wrapper h2 {
    color: #33C0BE;
    color: var(--blue);
}


/************************* Dialog window *************************/

div[data-reach-dialog-overlay="true"] {
	overflow: hidden;
	z-index: 1000;

    box-sizing: border-box;
    pointer-events: all;
}

div[data-reach-dialog-content="true"] {
	position: absolute;
	margin: 0;
	padding: 0;

	top: 50%;
	left: 50%;

	width: 90vw;
	max-width: 700px;

	max-height: 85vh;

	border-radius: 1rem;
	box-sizing: border-box;
	transform: translate3d(-50%, -50%, 0);
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);

	display: flex;
    flex-direction: column;
    pointer-events: all;
}

.close-button {
	position: absolute;
	top: -1rem;
	right: -1rem;

	width: 3rem;
	height: 3rem;

	border-radius: 50%;
	background: #fff;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);

	z-index: 10;
}

.close-button span {
	display: block;
	font-size: 2rem;
}


.dialog_description {
	padding: 1rem 2rem;
	box-sizing: border-box;
    overflow-y: scroll;
    max-height: 400px;
}

.dialog_description h3 {
	font-size: 1.2rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 700;
    text-align: center;
    margin: 0;
}

.dialog_description h5 {
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0.3rem 0 1rem;
}

.dialog_description .history_description {
    text-transform: none;
    letter-spacing: 0;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.dialog_description .description {
    margin-bottom: 3rem;
}

.dialog_description label {
    display: block;
    margin: 3rem 0 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.dialog_description .address p,
.dialog_description .opening_hours p,
.dialog_description .price_info p {
    margin: 0;
}


div[data-reach-dialog-overlay="true"] iframe {
    width: 100%;
    min-height: 40vh;
}


.map_selected_stop {
    height: 25vh;
    margin-top: 4rem;
    min-height: 100px;
    max-height: 300px;
}


/************************* Swiper *************************/


.swiper-container {
    height: 50vh;
    max-height: 350px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.swiper-slide {
    /* border-radius: 1rem 1rem 0 0; */
}

.swiper-pagination {
    background: rgba(255, 255, 255, 0.8);
}

.swiper-container .swiper-pagination,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0 !important;
}

.swiper-container .swiper-pagination-bullet {
    background: #231F20;
	background: var(--dark);
}

.swiper-container .swiper-pagination-bullet-active {
    background: #231F20;
	background: var(--dark);
}

.swiper-slide img {
    height: calc( 100% - 25px);
    width: 100%;
    object-fit: cover;
}

.swiper_image {
    height: 50vh;
    max-height: 350px;
    overflow: hidden;
}

.swiper_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image_credits {
  position: absolute;
  bottom: 2rem;
  right: 0;
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.7);  
}


/*******************************************
* Footer
*******************************************/

.main_footer {
    position: relative;
	width: 100%;
	padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: #33C0BE;
    background-color: var(--blue);
    background-image: url('/images/bg_squares.svg');
    background-position: 100% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.footer_content {
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


.footer_content address {
	margin-right: 5rem;
	color: #fff;
	font-size: 1rem;
	font-family: 'montserrat';
	font-style: normal;
    line-height: 150%;
    margin-bottom: 2rem;
}

.footer_content address h4 {
	margin-top: 0;
	text-transform: uppercase;
	color: #fff;
}

.virtulleum_address a {
    color: #fff;
    text-decoration: none;
}
.virtulleum_address a:hover {
    color: #231F20;
    color: var(--dark);
}

.footer_nav  {
    padding-bottom: 2rem;
}


.footer_nav li a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	transition: all 200ms;
}

.footer_nav li a:hover {
    color: #231F20;
	color: var(--dark);
}




.footer_socials {
	margin-left: auto;
}

.footer_socials ul {
	display: flex;
}

.footer_socials ul li {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    transform: translate3d(0, 0%, 0);

    filter: drop-shadow(0 0.2rem 0.3rem rgba(0,0,0, 0));

    transition: all 200ms ease-in-out;
}

.footer_socials img {
	width: auto;
	height: 2rem;

	transition: all 200ms;
}

.footer_socials li:hover {
    filter: drop-shadow(0 0.2rem 0.3rem rgba(0,0,0, 0.1));
    transform: translate3d(0, -5%, 0);
}




.footer_leaf_deco_1,
.footer_leaf_deco_2 {
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 8rem;
    height: 9rem;
    background: url('/images/leaf_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    filter: drop-shadow(0 0.5rem 0.5rem rgba(0,0,0, 0.3));

    transform: translate3d(0, 10%, 0);
}

.footer_leaf_deco_2 {
    transform: translate3d(-57%, 22%, 0) rotate(-50deg) scale(0.7);
}


@media only screen and (max-width: 800px) {

    .footer_socials  {
        width: 100%;
        margin: 0;
    }

}




/*******************************************
* Project Virtulleum
*******************************************/

.project_virtulleum_wrapper {
    max-width: 900px;
}

.project_virtulleum_wrapper h1 {
    text-align: center;
}

.project_virtulleum_wrapper p {
    text-align: left;
    font-weight: 300;
}

.project_virtulleum_wrapper h3 {
    font-weight: 700;
    text-align: center;
    margin: 4rem 0 2rem;
}


/************************* Deco Leaves *************************/

.project_virtulleum_section {
    position: relative;
}

.project_virtulleum_section .main_content_leaf_deco_1,
.project_virtulleum_section .main_content_leaf_deco_2 {
    position: absolute;
    top: 33%;
    left: 0;

    background: url('/images/leaf_1.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 20vw;
    max-width: 150px;
    height: 20vh;
    max-height: 150px;

    opacity: 0.7;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.15));

    transform: translate3d(-20%, 0, 0) rotate(5deg);
}

.project_virtulleum_section .main_content_leaf_deco_2 {
    transform: translate3d(-30%, 60%, 0) rotate(-125deg) scale(-0.7);
}


.project_virtulleum_section .main_content_leaf_deco_3,
.project_virtulleum_section .main_content_leaf_deco_4 {
    position: absolute;
    top: 75%;
    right: 0;

    background: url('/images/leaf_3.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 20vw;
    max-width: 100px;
    height: 20vh;
    max-height: 120px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.3));

    transform: translate3d(10%, 0, 0) rotate(120deg) scaleY(-1);
}

.project_virtulleum_section .main_content_leaf_deco_4 {
    transform: translate3d(30%, 70%, 0) rotate(30deg) scale(-0.6);
}


.project_virtulleum_section .dust_deco_1 {
    bottom: 30%;
    left: -5%;
}

.project_virtulleum_section .dust_deco_2 {
    bottom: 50%;
    right: -30%;
}


@media only screen and (max-width: 1024px) {

    .project_virtulleum_section .main_content_leaf_deco_1,
    .project_virtulleum_section .main_content_leaf_deco_2,
    .project_virtulleum_section .main_content_leaf_deco_3,
    .project_virtulleum_section .main_content_leaf_deco_4 {
        display: none;
    }

}



/*******************************************
* Besucherinfos
*******************************************/

.user_infos_section {
    position: relative;
}

.user_infos_section h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.user_infos_section h5,
.user_infos_section strong {
    margin: 3rem 0 0rem;
    font-size: 0.9rem;
}

.user_infos_section strong {
    display: inline-block;
}

.user_infos_section address {
    font-size: 1rem;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 1rem 0 0;
}

.user_infos_wrapper {
    max-width: 800px;
}

.user_infos_wrapper h1 {
    hyphens: auto;
}


.school_infos {
    max-width: 800px;
    text-align: right;
    margin-bottom: 4rem;
}


/************************* Deco Leaves *************************/


.user_infos_section .main_content_leaf_deco_1,
.user_infos_section .main_content_leaf_deco_2 {
    position: absolute;
    top: 33%;
    left: 0;

    background: url('/images/leaf_2.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 25vw;
    max-width: 180px;
    height: 25vh;
    max-height: 180px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.15));

    transform: translate3d(-10%, 0, 0) rotate(15deg);
}

.user_infos_section .main_content_leaf_deco_2 {
    transform: translate3d(-20%, 70%, 0) rotate(-90deg) scale(-0.7);
}


.school_infos_section .main_content_leaf_deco_3,
.school_infos_section .main_content_leaf_deco_4 {
    position: absolute;
    top: 55%;
    right: 0;

    background: url('/images/leaf_4.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 25vw;
    max-width: 180px;
    height: 25vh;
    max-height: 180px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.3));

    transform: translate3d(10%, 0, 0) rotate(120deg) scaleY(-1);
}

.school_infos_section .main_content_leaf_deco_4 {
    transform: translate3d(30%, 70%, 0) rotate(70deg) scale(-0.8);
}



.user_infos_section .dust_deco_1 {
    bottom: 30%;
    left: -5%;
}

.user_infos_section .dust_deco_2 {
    bottom: 50%;
    right: -30%;
}


@media only screen and (max-width: 1024px) {

    .user_infos_section .main_content_leaf_deco_1,
    .user_infos_section .main_content_leaf_deco_2,
    .school_infos_section .main_content_leaf_deco_3,
    .school_infos_section .main_content_leaf_deco_4 {
        display: none;
    }

}


/*******************************************
* Town history
*******************************************/

.town_history_section {
    position: relative;
}

.town_history_wrapper h1 {
    text-align: center;
    margin-bottom: 4rem;
}


.town_history_wrapper .town_history_description {
    margin-bottom: 4rem;
    text-align: center;
}

.town_questions_section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.town_history_wrapper .search_input {
    margin-bottom: 1rem;
}

.town_question_btn {
    position: relative;
    width: 22%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.town_question_wrapper {
    position: relative;
    width: 100%;
    height: 15vh;
    max-height: 300px;
    min-height: 150px;

    background: #fff;

    border-radius: 0.5rem;
    box-sizing: border-box;

    box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);

    transition: all 200ms ease-in-out;
    transform: translate3d(0%, 0%, 0px);
}

.town_question_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0.5rem;
}

.town_question_wrapper .image_placeholder {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0.5rem;
}

.town_question_wrapper .image_placeholder svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate3d(-50%, -50%, 0);
}


.town_title_wrapper {
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

.town_question_btn h5 {
    line-height: 180%;
    margin: 0;
    padding: 0;
    hyphens: auto;
    text-align: left;
    width: 80%;
}

.town_question_btn svg {
    position: absolute;
    right: 0;
    top: 0%;
}



.town_question_wrapper::before {
    position: absolute;
    content: "";
    display: block;

    top: 6%;
    left: 5%;

    width: 100%;
    height: 100%;

    border: 0.1rem solid rgba(0,0,0,0.05);
    border: 0.1rem solid var(--grey_95);
    transition: all 200ms ease-in-out;

    transform: translate3d(0%, 0%, 0);
    z-index: -1;
}


.town_question_btn:hover .town_question_wrapper {
    transform: translate3d(5%, 5%, 0);
}

.town_question_wrapper:hover:before {
    transform: translate3d(-10%, -10%, 0);
}



.town_question_btn .arrow_left_icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    fill: none;
    stroke: #231F20;
    stroke: var(--dark);

    filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.15));
    transform: rotate(180deg);
}

.pdf_links_section {
    padding: 3rem 0;
    box-sizing: border-box;
}

.pdf_links_section h3 {
    text-align: left;
    color: var(--dark);
    font-size: 1rem;
}

.pdf_link {
    display: block;
    padding: 2rem 0rem 0;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 800;
    text-decoration: underline;
    outline: 0;
    transition: all 200ms ease-in-out;
}

.pdf_link:hover {
    color: var(--blue) !important;
}

.pdf_link:focus,
.pdf_link:visited {
    outline: 0;
    color: var(--dark);
}


@media only screen and (max-width: 1024px) {

    .town_question_btn {
        width: 27%;
    }

}

@media only screen and (max-width: 600px) {

    .town_question_btn {
        width: 45%;
    }

}

@media only screen and (max-width: 400px) {

    .town_question_btn {
        width: 80%;
    }

}


/*******************************************
* History Tabs
*******************************************/

.town_history_section div[role="tablist"] {
    text-align: right;
    border-bottom: 0.05rem solid rgba(0,0,0,0.05);
    border-bottom: 0.05rem solid var(--grey_95);
    margin-bottom: 2rem;
 }
 
 .town_history_section div[role="tablist"] button {
     position: relative;
     width: max-content;
     padding: 0.5rem 2rem;
    
     color: rgba(0,0,0,0.3);
     color: var(--grey_70);
     font-size: 1rem;
     border-radius: 0;
     overflow: hidden;
 
     transition: 200ms all ease-in-out;
 }
 
 .town_history_section div[role="tablist"] button:before {
     display: block;
     content: "";
     position: absolute;
     bottom: 0rem;
     left: 0;
     width: 100%;
     height: 0.15rem;
    
     background: #33C0BE;
     background: var(--blue);
 
     transform: translate3d(-100%, 0, 0);
 
     transition: 200ms all ease-in-out;
     z-index: 20;
 }
 
 .town_history_section div[role="tablist"] button:first-child:before {
     transform: translate3d(100%, 0, 0);
 }
 
 .town_history_section div[role="tablist"] button[aria-selected="true"] {
     color: var(--dark);
 }
 .town_history_section div[role="tablist"] button[aria-selected="true"]:before {
     background: #33C0BE;
     background: var(--blue);
     transform: translate3d(0%, 0, 0);
 }
 



/************************* Archive *************************/

.archive_section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.archive_section h1 {
    text-align: center;
    margin: 4rem 0 3rem;
}

.active_cat {
    display: none;
}

.active_cat.all_selected,
.active_cat.selected {
    display: block;
}


.active_cat h3 {
    text-align: right;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 0.7rem 2rem 0.5rem;
    font-size: 1rem;
}

.archive_item {
    position: relative;
    width: 30%;
    height: 20vh;
    min-height: 250px;
    max-height: 400px;

    margin-bottom: 7rem;
    background: #fff;
    border-radius: 0.5rem;
    box-sizing: border-box;

    box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);

    transition: all 200ms ease-in-out;
}

.archive_item:hover {
    cursor: pointer;
    transform: translate3d(0%, -5%, 0);
    box-shadow: 0rem 0.5rem 0.7rem rgba(0, 0, 0, 0.35);
}

.archive_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.archive_item h4 {
    position: absolute;
    bottom: 0rem;
    left: 0;
    margin: 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    width: 100%;
    text-align: left;
    font-size: 0.8rem;

   transform: translate3d(0, 120%, 0);
}

.archive_item .play_btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    width: 2rem;
    height: 2rem;

    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;

    background: #fff;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
}

.archive_item .play_btn .play_btn_bg {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120%;
    height: 120%;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);

    transform: translate3d(-50%,-50%, 0);
}

.archive_item .play_btn .play_icon {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40%;
    height: 40%;

    fill: #231F20;
    fill: var(--dark);
    filter: drop-shadow(0 0.2rem 0.3rem rgba(0,0,0, 0.15));

    transform: translate3d(-48%, -50%, 0);
}


.custom_select_archive {
    position: relative;
    width: 100%;
    background: #33C0BE;
    background: var(--blue);
    padding: 0rem 2rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 4rem;   
}

/* .archive_select {
    border: none;
    background: #33C0BE;
    background: var(--blue);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    padding: 0 3rem;
    -webkit-appearance: none;
}



.archive_select::-ms-expand {
    display: none;
}

.custom_select_archive option {
    min-width: 300px;
} */





/* 


.brd
{
    border-bottom: 2px solid var(--blue);
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 42px;
    margin: 2rem 0 2rem auto;
}

#select-button {
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    cursor: pointer;
}

#options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value {
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}


.option, .label {
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons svg {
    position: absolute;
    right: 0;
    top: 50%;
    fill: none;
    stroke: var(--blue);
    stroke-width: 2px;

    transform: translate3d(-1rem, -50%, 0) rotate(90deg);
}


.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 10;
}

#options-view-button:checked ~ #options {
    border: 1px solid var(--blue);
}

.option
{
    position: relative;
    line-height: 1;
    transition: 100ms ease all;
    z-index: 2;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top {
    top: 0;
}

.s-c.bottom {
    bottom: 0;
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover {
    height: 100%;
    z-index: 1;
}

.label
{
    transition: 100ms ease all;
}

.opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ .label {
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val {
    top: -30px;
}

.option input[type="radio"]:checked ~ .label:before {
    background-color: var(--blue);
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
    top: -31px;
}
.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
    top: -71px;
}
.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
    top: -111px;
}
.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
    top: -151px;
}
.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
    top: -191px;
}
.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
    top: -231px;
}
.option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
    top: -271px;
}
.option:nth-child(8) input[type="radio"]:checked ~ .opt-val {
    top: -311px;
}
.option:nth-child(9) input[type="radio"]:checked ~ .opt-val {
    top: -351px;
}
.option:nth-child(10) input[type="radio"]:checked ~ .opt-val {
    top: -391px;
}


#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 200ms ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:hover ~ #option-bg {
    background-color: var(--blue);

}

.option:nth-child(1):hover ~ #option-bg {
    top: 0;
}
.option:nth-child(2):hover ~ #option-bg {
    top: 40px;
}
.option:nth-child(3):hover ~ #option-bg {
    top: 80px;
}
.option:nth-child(4):hover ~ #option-bg {
    top: 120px;
}
.option:nth-child(5):hover ~ #option-bg {
    top: 160px;
}
.option:nth-child(6):hover ~ #option-bg {
    top: 200px;
}
.option:nth-child(7):hover ~ #option-bg {
    top: 240px;
}
.option:nth-child(8):hover ~ #option-bg {
    top: 280px;
}
.option:nth-child(9):hover ~ #option-bg {
    top: 320px;
}
.option:nth-child(10):hover ~ #option-bg {
    top: 360px;
}
.option:nth-child(11):hover ~ #option-bg {
    top: 400px;
}
.option:nth-child(12):hover ~ #option-bg {
    top: 440px;
}
.option:nth-child(13):hover ~ #option-bg {
    top: 480px;
}
.option:nth-child(14):hover ~ #option-bg {
    top: 520px;
}
.option:nth-child(15):hover ~ #option-bg {
    top: 560px;
}
.option:nth-child(16):hover ~ #option-bg {
    top: 600px;
}
.option:nth-child(17):hover ~ #option-bg {
    top: 640px;
}
.option:nth-child(18):hover ~ #option-bg {
    top: 680px;
}
.option:nth-child(19):hover ~ #option-bg {
    top: 720px;
}
.option:nth-child(20):hover ~ #option-bg {
    top: 760px;
} */






.select-box {
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 auto;
    font-size: 1rem;
    color: var(--blue);
}

.select-box .arrow_icon {
    position: absolute;
    right: 0;
    top: 50%;
    fill: none;
    stroke: var(--blue);
    stroke-width: 2px;

    transform: translate3d(-1rem, -50%, 0) rotate(90deg);
}
    
.select-box__current {
    position: relative;
    border-bottom: 2px solid var(--blue);
    cursor: pointer;
    outline: none;
}
      
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
    z-index: 100%;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
    
.select-box__value {
    display: -webkit-box;
    display: flex;
}
    
.select-box__input-text {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    color: var(--blue);
}
    
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    margin-top: 0;
    border: 1px solid var(--blue);
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;

    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.1);

    z-index: 100;
}

.select-box__list p {
    margin: 0;
}
    
.select-box__option {
      display: block;
      padding: 15px;
      background-color: #fff;
}
      
.select-box__option:hover,
.select-box__option:focus {
    color: #fff;
    background-color: var(--blue);
}
  
@keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
}












@media only screen and (max-width: 1024px) {

    .archive_item {
        width: 27%;
    }

}

@media only screen and (max-width: 800px) {

    .archive_item {
        width: 45%;
    }

}

@media only screen and (max-width: 500px) {

    .archive_item {
        width: 90%;
    }

}


/************************* Deco Leaves *************************/


.town_history_section .main_content_leaf_deco_1,
.town_history_section .main_content_leaf_deco_2 {
    position: absolute;
    top: 33%;
    left: 0;

    background: url('/images/leaf_2.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 25vw;
    max-width: 180px;
    height: 25vh;
    max-height: 180px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.15));

    transform: translate3d(-10%, 0, 0) rotate(15deg);
}

.town_history_section .main_content_leaf_deco_2 {
    transform: translate3d(-20%, 70%, 0) rotate(-90deg) scale(-0.7);
}


.archive_section .main_content_leaf_deco_3,
.archive_section .main_content_leaf_deco_4 {
    position: absolute;
    top: 0%;
    right: 0;

    background: url('/images/leaf_4.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 25vw;
    max-width: 180px;
    height: 25vh;
    max-height: 180px;

    opacity: 0.5;

    filter: drop-shadow(0 0.5rem 0.3rem rgba(0, 0, 0, 0.3));

    transform: translate3d(10%, 0, 0) rotate(120deg) scaleY(-1);
}

.archive_section .main_content_leaf_deco_4 {
    transform: translate3d(30%, 70%, 0) rotate(70deg) scale(-0.8);
}



.town_history_section .dust_deco_1 {
    bottom: 30%;
    left: -5%;
}

.town_history_section .dust_deco_2 {
    bottom: 50%;
    right: -30%;
}


@media only screen and (max-width: 1024px) {

    .town_history_section .main_content_leaf_deco_1,
    .town_history_section .main_content_leaf_deco_2,
    .archive_section .main_content_leaf_deco_3,
    .archive_section .main_content_leaf_deco_4 {
        display: none;
    }

}



/*******************************************
* Impressum & Bibliographie
*******************************************/


.impressum_section,
.bibliography_section {
    position: relative;
}

.impressum_section h1,
.bibliography_section h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.impressum_wrapper,
.bibliography_wrapper {
    max-width: 800px;
}


.impressum_logos_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.impressum_logo {
    max-height: 100px;
    max-width: 300px;
}

.impressum_logos_section .big_logo {
    width: 100%;
    min-width: 100%;
    max-height: 200px;
    margin: 2rem 0;
}



/*******************************************
* News
*******************************************/


.news_section {
    position: relative;
    max-width: 800px;
}

.news_section h1 {
    margin-bottom: 4rem;
    text-align: center;
}

.news_section {
    margin: 0 auto;
}


.news_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_text_wrapper {
    margin: 6rem 0;
}

/*******************************************
* Special exhibition
*******************************************/

.special_exhibition {
    width: 100%;
    height: 8rem;
    position: relative;
    flex: 1 0 auto;

    margin-top: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 200ms all ease-in-out;
}


.special_exhibition .gatsby-image-wrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.special_exhibition img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -2;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    z-index: -1;
}

.special_exhibition h1 {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: -0.5rem;
}


.open_special_exhibition_btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 30px;
    height: 30px;
    text-decoration: none;

    border-radius: 50%;
    background: #fff;
    transition: all 200ms ease-in-out;
    transform: translate3d(-50%, 0, 0);
}

.open_special_exhibition_btn:hover {
    background: #000;
}


.open_special_exhibition_btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: none;
    stroke: #231F20;
    stroke: var(--dark);
    stroke-width: 2px;

    width: 40%;
    height: 40%;

    transition: 200ms all ease-in-out;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
}

.open_special_exhibition_btn:hover svg {
    stroke: #fff;
}

.special_exhibition p,
.special_exhibition .special_exhibition_btn {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.special_exhibition_opened.special_exhibition {
    height: 30rem;
}

.special_exhibition_opened.special_exhibition p {
    position: relative;
    margin: 2rem auto;
    width: 50%;
    color: #fff;

    opacity: 1;
    pointer-events: all;
}

.special_exhibition li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline;
}

.special_exhibition_opened.special_exhibition .special_exhibition_btn {
    position: relative;
    opacity: 1;
    pointer-events: all;
    text-decoration: none;
    transition: 200ms all ease-in-out;
    list-style: none;
}

.special_exhibition_btn:visited {
    color: #000;
}

.special_exhibition_btn:hover {
    background: #000;
    color: #fff;
}

.special_exhibition_opened.special_exhibition .open_special_exhibition_btn svg {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
}


/*******************************************
* Tagify
*******************************************/

.tag_wrapper {
    position: relative;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tag_search {
    width: 100%;
    min-width: 100%;
}

.tagify {
    width: 100%;
    font-size: 0.8rem;
}

.tagify.tagify--focus {
    border-color: var(--blue);
} 

.tags-look .tagify__dropdown__item{
    display: inline-block;
    border-radius: 0;
    padding: .3em .5em;
    border: 0;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
  }
  
  .tags-look .tagify__dropdown__item--active{
    color: black;
}

.tagify__dropdown__wrapper {
    border-color: var(--blue);
}
  
.tags-look .tagify__dropdown__item:hover{
    background: var(--blue);
    color: #fff;
}

@media only screen and (max-width: 500px) {

    .tag_search {
        width: 100%;
    }

}


/* COOKIES */

.CookieConsent {
    justify-content: center !important;
    align-items: center !important;
}

.CookieConsent div:first-child {
    max-width: 1200px;
    line-height: 120%;
}

/* .customLook{
    --tag-bg                  : #33C0BE;
    --tag-hover               : #FB8181;
    --tag-text-color          : #FFF;
    --tags-border-color       : silver;
    --tag-text-color--edit    : #111;
    --tag-remove-bg           : var(--tag-hover);
    --tag-pad                 : .6em 1em;
    --tag-inset-shadow-size   : 1.3em;
    --tag-remove-btn-bg--hover: black;
  
    display: inline-block;
    min-width: 0;
    border: none;
  }
  
  .customLook .tagify__tag{
    margin-top: 0;
  }
  
  .customLook .tagify__tag > div{
    border-radius: 25px;
  }
  
  .customLook .tagify__tag:only-of-type .tagify__tag__removeBtn{
    display: none;
  }
  
  .customLook .tagify__tag__removeBtn{
    opacity: 0;
    transform: translateX(-6px) scale(.5);
    margin-left: -3ch;
    transition: .12s;
  }
  
  .customLook .tagify__tag:hover .tagify__tag__removeBtn{
    transform: none;
    opacity: 1;
    margin-left: -1ch;
  }
  
  .customLook + button{
    color: #33C0BE;
    font: bold 1.4em/1.65 Arial;
    border: 0;
    background: none;
    box-shadow: 0 0 0 2px inset currentColor;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    outline: none;
    transition: .1s ease-out;
    margin: 0 0 0 5px;
    vertical-align: top;
  }
  
  .customLook + button:hover{
    box-shadow: 0 0 0 5px inset currentColor;
  }
  
  .customLook .tagify__input{
    display: none;
  } */